 a:link {
  color:gold;
}
a:visited {
  color: gold;
}
a:hover {
  color:red;
}
a:active {
  color: red;}
  input:focus {
  background-color: yellow;
  font-size: 20px;
  color: blue;
}
/* p{
    display: none;
    background-color:greenyellow ;
    padding: 20px;
}
.c1 :hover p{
    display: block;
}  */
.c2 p:first-letter{
    font-size: 60px;
color: blue;

}
.c2 p:first-line{
    font-size: 30px;
    color: rgb(23, 167, 85);
}
::marker{
    font-size: 20px;
    color: blueviolet;
}
.c4::selection{
background-color: aquamarine;
font-size: 40px;
color: brown;
}
.prant{
display: flex;
gap: 70px;
}
.child1{
opacity: .4;
}
.child2{
opacity: 1;
}
.child3{
opacity: .8;
}