/* .container {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: row;
  }
} */


.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  background-color: dodgerblue;
  padding: 10px;
  gap: 20px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  /* grid-column-start: 1;
  grid-column-end: 3; */

/* grid-column: 1 / span 2; */

 /* grid-row-start: 1;
  grid-row-end: 3; */

  /* grid-row: 1 / span 2; */
}

.tr{
   width: 150px;
  height: 150px;
  background-color: yellow;
  border: 1px solid black;
  /* transform: translate(50px,100px); */
  transform: rotate(45deg);
  margin-left: 40px;
}