
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 20px;
    font-weight: 400;
    color: black;
   
}


.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: darkviolet;
    color: antiquewhite;
    transition: ease-in 1s;
    border-radius: 8px;
}

.c1{
    margin:auto;
    align-items: center;
    justify-content: space-evenly;
}

.c2{
    height: 110vh;

}

